{% extends "admin/base_site.html" %}

{% block breadcrumbs %}<div class="breadcrumbs">
    <a href="/admin/">Home</a> 
    &gt;
    <a href="/admin/breeds/breed">Breeds</a> 
    &gt;
    {{ title }}
    </div>{% endblock %}

{% block content %}
    {% for image_record in image_records %}
        <p>
            <img src="/media/breed_images/{{ image_record }}" style="max-width: 300px;" />
        </p>
        <p>
            Title: {{ image_record.title }}
        </p>
        <p class="deletelink-box" style="margin-bottom: 100px;">
            <a href="/admin/breeds/breedimage/{{ image_record.id }}/delete/" class="deletelink">delete</a>
        </p>
    {% endfor %}
{% endblock %}
